/* Chapter Selection */
#chapter-select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #4F6D7A;
}

/* Comment Section */
.comment {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Clear Comments Button */
.clear-btn {
    background-color: #888; /* Gray color */
    color: white;
    border: none;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 10px auto 0; /* Center the button and add spacing */
    width: fit-content;
}

.clear-btn:hover {
    background-color: #666; /* Darker gray on hover */
}

